.navigation-clean {
  background: #EA304D;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #F5F1EF;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0; }

.navigation-clean .navbar-brand {
  font-weight: bold;
  color: inherit;
  margin-left: -45px; }

.navigation-clean .navbar-brand:hover {
  color: #222; }

.navigation-clean .navbar-toggler {
  border-color: #ddd; }

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background: none; }

.navigation-clean .navbar-toggler {
  color: #888; }

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color: #ddd; }

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #F5F1EF;
  box-shadow: none;
  background: none;
  pointer-events: none; }

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
  color: #F5F1EF; }

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: #F5F1EF; }

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color: #F5F1EF;
  background-color: transparent; }

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: none;
  background-color: #fff;
  border-radius: 2px; }

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d; }

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit; }

li.nav-item {
  font-family: Barlow sans-serif;
  font-size: 22px;
  font-weight: 100;
  line-height: 0; }

@media (min-width: 768px) {
  .navigation-clean {
    padding-top: 1rem;
    padding-bottom: 1rem; } }
@media only screen and (max-width: 375px) {
  .navbar-brand {
    margin: 0 !important; } }
.footer-basic {
  height: 300px;
  padding: 40px 0;
  background-color: #211E26;
  color: #AA9FA4; }

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0; }

.footer-basic li {
  padding: 0 10px; }

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8; }

.footer-basic ul a:hover {
  opacity: 1; }

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px; }

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75; }

.footer-basic .social > a:hover {
  opacity: 0.9; }

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0; }

.article-clean {
  color: #56585b;
  background-color: #fff;
  font-family: 'Lora', serif;
  font-size: 14px; }

.article-clean .intro {
  font-size: 16px;
  margin: 0 auto 30px; }

.article-clean .intro h1 {
  font-size: 36px;
  margin-bottom: 15px;
  padding-top: 20px;
  line-height: 1.5;
  color: inherit;
  margin-top: 20px;
  background-color: #f5f1ef; }

/* .article-clean .intro p {
  color:#929292;
  font-size:12px;
} */
.article-clean .intro p .by {
  font-style: italic; }

.article-clean .intro p .date {
  text-transform: uppercase;
  padding: 4px 0 4px 10px;
  margin-left: 10px;
  border-left: 1px solid #ddd; }

.article-clean .intro p a {
  color: #333;
  text-transform: uppercase;
  padding-left: 3px; }

.article-clean .intro img {
  margin-top: 20px; }

.article-clean .text figure {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px; }

.article-clean .text figure img {
  margin-bottom: 12px;
  max-width: 100%; }

.text-uppercase.text-center.mb-0 {
  padding-top: -50px; }

.article-clean {
  color: #56585b;
  background-color: #fff;
  font-family: 'Lora', serif;
  font-size: 14px; }

.article-clean .intro {
  font-size: 16px;
  margin: 0 auto 30px; }

.article-clean .intro h1 {
  font-size: 80px;
  margin-bottom: 15px;
  padding-top: 20px;
  line-height: 1.5;
  color: inherit;
  margin-top: 20px; }

/* 
.article-clean .intro p {
    color: #929292;
    font-size: 12px;
} */
.article-clean .intro p .by {
  font-style: italic; }

.article-clean .intro p .date {
  text-transform: uppercase;
  padding: 4px 0 4px 10px;
  margin-left: 10px;
  border-left: 1px solid #ddd; }

.article-clean .intro p a {
  color: #333;
  text-transform: uppercase;
  padding-left: 3px; }

.article-clean .intro img {
  margin-top: 20px; }

.article-clean .text figure {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px; }

.article-clean .text figure img {
  margin-bottom: 12px;
  max-width: 100%; }

.text-center.section-headings, .text-left.section-headings, .text-right.section-headings {
  font-weight: 200;
  font-family: Barlow, sans-serif;
  font-size: 44px;
  width: auto;
  text-decoration: underline double #EA304D; }

p, p.text-left, p.text-right, p.text-center {
  font-size: 16px;
  font-family: Barlow, sans-serif;
  margin: 50px 0px;
  line-height: 2.0;
  width: 60%; }

.row {
  margin: 15px; }

div.row.alt-shade {
  background-color: #211E26;
  height: 750px;
  width: auto; }

.text-right.alt-shade {
  color: #F5F1EF;
  height: auto;
  margin-left: auto;
  margin-right: 15px;
  font-size: 28px; }

.text-right.section-headings.alt-shade {
  color: #F5F1EF;
  margin-top: 120px;
  font-weight: bold;
  font-size: 64px; }

.row.proj-overview {
  /* background-color: #211e26; */ }

.proj-overview-text {
  font-size: 1.5em;
  text-align: center;
  line-height: 2.5;
  width: 60%;
  margin: auto; }

.text-center.h1 {
  font-family: Barlow, sans-serif; }

.text-center.section-headings {
  margin: auto;
  margin-bottom: 50px; }

.text-left.section-headings {
  margin-top: 70px; }

P.text-center.prototype-img-desc {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 61px;
  background-color: #EA304d;
  color: white;
  width: 100%; }

p {
  font-size: 18px; }

p.text-right {
  height: auto;
  margin-left: auto;
  margin-right: 16px; }

p.text-center {
  font-size: 20px;
  margin: auto;
  margin-bottom: 60px; }

p.tech-desc {
  text-align: center;
  margin: auto; }

p.tech-desc-alt {
  text-align: center;
  color: #F5F1EF; }

.prototype-img-desc {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bolder; }

div.col.table {
  padding: 50px 50px; }

li {
  font-size: 22px;
  font-family: Barlow, sans-serif;
  line-height: 2; }

ol {
  padding: 0px 25px 50px; }

li.li-questions {
  text-transform: uppercase;
  font-weight: 900; }

li.li-description {
  list-style: none;
  padding: 0px 0px 30px 50px;
  margin: 25px 0px 0px 0px;
  width: 65%;
  font-size: 18px; }

.blockquote.alt-quote {
  font-size: 1.5em;
  color: #211e26;
  padding: 5px 0px; }

.alt-quote-p {
  width: 70%;
  color: #EA304D;
  font-size: 26px;
  text-align: center;
  margin: auto;
  padding: 30px 30px; }

.col.alt-quote {
  background-color: #F5F1EF;
  margin-bottom: 50px;
  /* border-right: .5px solid #211e26; */ }

img.mx-auto.d-block {
  padding: 25px 0px;
  margin: 40px 0px; }

div.row.tech-row {
  /* padding-top: 50px; */ }

div.col.tech-col-alt {
  margin: 25px;
  padding: 25px;
  background-color: #211e26;
  border-left: 5px solid #aa9fa4;
  /* border-radius: 25px; */ }

div.col.tech-col {
  margin: 25px;
  /* padding: 25px; */
  /* border-radius: 25px; */ }

/* IMAGE STYLES */
.mario-pic {
  margin: auto;
  max-width: 100%;
  height: auto; }

.prototype-imgs {
  margin: auto;
  width: 100%;
  height: auto;
  padding-bottom: 50px; }

#dp-racing-banner {
  width: 950px;
  height: auto; }

@media (max-width: 375px) {
  p, p.right, .text-right.alt-shade {
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    color: #211E26; }

  p.text-center {
    font-size: 16px; }

  p.text-left {
    font-size: 12px; }

  p.proj-overview-text {
    width: 100%;
    height: auto;
    font-size: 12px; }

  div.row.alt-shade {
    background-color: transparent;
    height: auto;
    width: 100%; }

  .row {
    margin: auto; }

  .row.double {
    width: 100%;
    display: block; }

  .col.half {
    width: 100%;
    height: auto; }

  .text-right.section-headings.alt-shade, h2.text-center.section-headings, h2.text-left.section-headings, h2.text-right.section-headings {
    font-size: 24px;
    color: #EA304D;
    margin-top: 20px; }

  div.row.proj-overview > div > p {
    font-size: 14px; }

  .text-center.mb-0 {
    background-color: #211e26;
    height: auto;
    width: 100%;
    color: #aa9fa4;
    padding: 42px;
    font-family: Barlow, sans-serif;
    border: 2px solid #EA304D;
    letter-spacing: 2px;
    line-height: 2.2;
    margin-bottom: 20px;
    font-size: 12px; }

  img.mario-pic, img.marioPersona.png {
    margin: auto;
    width: 100%;
    height: auto; }

  div.col.table {
    padding: 50px 0px; }

  li {
    font-size: 14px;
    font-family: Barlow, sans-serif;
    line-height: 2; }

  ol {
    padding: 0px 25px 50px; }

  ul {
    margin-left: -25px; }

  li.li-questions {
    text-transform: uppercase;
    font-style: oblique;
    font-weight: 900;
    text-decoration: underline solid #211e26;
    /* padding: 50px; */ }

  li.li-description {
    list-style: none;
    padding: 0px 0px 30px 10px;
    border-left: 5px solid #EA304D; }

  .col.alt-quote {
    width: 100%;
    height: auto; }

  .blockquote.alt-quote {
    font-size: 14px;
    color: #211e26;
    padding: 10px 0px; }

  p.text-uppercase.alt-quote-p {
    font-size: 14px; }

  .alt-quote-p {
    width: 70%;
    color: #EA304D;
    font-size: 14px;
    text-align: center;
    margin: auto;
    padding: 30px 30px; }

  #dp-racing-banner {
    display: block;
    width: 100%;
    height: auto; } }
@media (min-width: 992px) {
  .text-center.mb-0 {
    background-color: #EA304D;
    height: 700px;
    color: #F5F1EF;
    padding: 80px 70px;
    border: 2px solid #EA304D;
    font-family: Barlow, sans-serif;
    letter-spacing: 2px;
    line-height: 3.5;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 400; } }

/*# sourceMappingURL=dpracing-cs.css.map */
