/* Coolors Exported Palette - coolors.co/ba1200-031927-9dd1f1-508aa8-c8e0f4 */

/* HEX */
$red: #BA1200;
$midnight: #031927;
$sky: #9DD1F1;
$sea: #508AA8;
$cloud: #C8E0F4;

/* RGB */
// $color1: rgba(186, 18, 0, 1);
// $color2: rgba(3, 25, 39, 1);
// $color3: rgba(157, 209, 241, 1);
// $color4: rgba(80, 138, 168, 1);
// $color5: rgba(200, 224, 244, 1);