@import 'colors';

.navbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: $primary-color;
}

.navbar-brand {
  color: $light-shades;
  display: block;
  margin: 10px;
}

.nav-ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.nav-item {
  color: $light-shades;
}

.nav-link {
    color: $light-shades;
    margin: 15px;
    text-decoration: none;
}