@import 'footer', 'nav', 'billboard';
$color-1: #e45b00;
$color-2: #001440;
$color-3: #d84315;


/* text content */

.main-txt-container {
    border: 1px solid gray;
    font-size: 20px;
    width: 60%;
    margin: auto;
    padding: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-indent: 25px;
    line-height: 2em;
}

.text-heading {
    text-align: center;
    margin: 20px;
}